/*!
 * Guia Instagram v0.0.1 (https://guiainstagram.midiaclub.app/)
 * Copyright 2019-2019 Equipe MIDIA CLUP APP
 * Copyright 2014-2019 PEQUI Soluções.
 */

@viewport{
    zoom: 1.0;
    width: device-width;
}
    
@-ms-viewport {
width: device-width; 
}
  
*::before,
*::after {
box-sizing: border-box; 
}
  
html {
font-family: sans-serif;
line-height: 1.15;
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-ms-overflow-style: scrollbar;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}
  
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block; 
}
  
body {
margin: 0;
font-family: 'Source Sans Pro', sans-serif;
font-size: 1rem;
font-weight: 200;
line-height: 1.5;
color: #FFF;
text-align: left;
background-color: #000;
overflow-x: hidden;
min-width: 100%; 
}

[tabindex="-1"]:focus {
outline: 0 !important; 
}
  
@import url('https://fonts.googleapis.com/css?family=Anton|Federo|Source+Sans+Pro&display=swap');

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 3rem;
    letter-spacing: 4px;
    text-transform: uppercase;
}

h1 span,
div.sec20 h4 span {
    color: #FE4561;
}

.img-bg {
    background-size: cover;
    background-repeat: repeat;
    background-image: url(img/bg.jpg);
}

.txt-golden {
    color: #c89a00;
}
div.sec1,
div.sec3,
div.sec3 h2,
div.sec4,
div.sec17,
div.sec24,
div.sec26 {
    text-align: center;
}

div.sec1 h1 {
    margin-top: 1rem;
}

div.sec2 {
    position: relative;
    max-width: 740px;
    text-align: center;
    padding: 7px;
    position: relative;
    background: #a89a1e;
    background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
    margin-top: 1rem;
    margin-bottom: 12rem;
}

.sec2a {
    background: #000;
    color: white;
    padding: 2rem;
}

div.sec2 p {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.btn-golden-grad {
    display: inline-block;
    font-weight: bold;
    border: none;
    padding: 0.375rem 1rem;
    font-size: 1rem;
    background: #a89a1e;
    background: -moz-linear-gradient(left, #a89a1e 0%, #f9d000 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #a89a1e), color-stop(100%, #f9d000));
    background: -webkit-linear-gradient(left, #a89a1e 0%, #f9d000 100%);
    background: -o-linear-gradient(left, #a89a1e 0%, #f9d000 100%);
    background: -ms-linear-gradient(left, #a89a1e 0%, #f9d000 100%);
    background: linear-gradient(to right, #a89a1e 0%, #f9d000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a89a1e', endColorstr='#f9d000', GradientType=1 );
    color: #fff;
    font-size: 1.25rem;
    line-height: 1.5;
    letter-spacing: 1.5px;
    border-radius: 50px;
    min-width: 300px;
    text-shadow: 1px 2px 3px #000;
    margin-top: 1.5rem;
}

a:hover {
    text-decoration: none;
    color: unset;
}

div.container.cont2 {
    margin-top: -8rem;
}

div.sec4 h2 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

div.sec4 ul {
    margin-top: 3rem;
    margin-left: 3rem;
}

.list-group-flush .list-group-item {
    background-color: transparent;
    text-align: left;
}

.fa-chevron-circle-right:before {
    background-color: white;
    border-radius: 50%;
}

.i-fa-mag {
    color: #FE4561!important;
}

div.sec4 h2,
div.sec5 h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    font-weight: 500;
    max-width: 525px;
}

.linehr {
    display: none;
    width: 100%;
    border-color: #c89a00;
    border-style: dashed;
    margin-bottom: 2rem;
}

div.sec6 h2,
div.sec17 h2 {
    font-family: 'Anton', sans-serif;
    font-weight: 500;
}

div.sec6 h2 span,
div.sec17 h2 span,
div.sec19 h1 span {
    color: #FE4561;
    background: #FFF;
    background: -moz-linear-gradient(270deg, #FFF 40%, #000 0%);
    background: -webkit-linear-gradient(270deg, #FFF 40%, #000 0%);
    background: -o-linear-gradient(270deg, #FFF 40%, #000 0%);
    background: -ms-linear-gradient(270deg, #FFF 40%, #000 0%);
    background: linear-gradient(0deg, #FFF 40%, #000 0%);
}

div.container.cont3 p {
    margin: 0;
}

div.sec7 {
    padding-top: 5rem;
    text-align: end;
}

div.sec7 h3,
div.sec10 h3,
div.sec11 h3,
div.sec14 h3,
div.sec15 h3,
div.sec17 h2,
.container.cont4 h3,
.container.cont5 h2,
.container.cont6 h2,
div.sec22 h3 {
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    font-weight: 500;
    color: #c89a00;
}

div.sec7 p span,
div.sec10 p span,
div.sec11 p span,
div.sec14 p span,
div.sec15 p span {
    color: #c89a00;
}

div.sec8 .first {
    margin-top: 11rem;
}

div.sec11,
div.sec15,
div.sec22 {
    text-align: end;
}

.l-1, .l-3, .l-5, .l-7 {
    margin-top: -4px;
}

.l-2 {
    margin-top: 2px;
}

.l-4 {
    margin-top: -16px;
}

.l-6 {
    margin-top: -22px;
}

.l-8 {
    margin-top: 2px;
}

/* Smart devices (mobile screen, 360px and 399.98px) */
@media (min-width: 315px) and (max-width: 359.98px) {
    div.sec2a a.btn-golden-grad {
        margin-left: -8px;
    }
    a.btn-golden-grad {
        min-width: 290px;
    }
    div.sec3 {
        margin-top: -2.5rem;
    }
    div.sec21, div.sec23 {
        padding-right: 0px!important;
        padding-left: 0px!important;
    }
    div.sec27 p {
        font-size: 11.7px!important;
    }
}

/* Smart devices (mobile screen, 400px and 549.98px) */
@media (min-width: 315px) and (max-width: 549.98px) {
    div.sec2 {
        width: 100%;
    }
    div.sec2a {
        padding: 1rem;
    }
    div.sec2a img, div.sec3 img {
        max-width: 95%;
    }
    a.btn-golden-grad span {
        display: none;
    }
    div.container.cont2, div.sec3, div.sec4, div.sec6, div.container.cont3, .col-2, div.container.cont4, div.sec17, div.container.cont5, div.container.cont6, div.sec19, div.container.cont7, div.sec26, div.sec27, div.sec27 p {
        padding-right: 0px!important;
        padding-left: 0px!important;
    }
    div.sec4 h2 {
        padding-top: 1rem;
        padding-bottom: 0;
    }
    div.sec4 ul {
        margin-top: 1rem;
        margin-left: 0rem;
    }
    .list-group-item {
        padding-left: 0;
    }
    div.sec5 {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .linehr {
        display: unset;
    }
    div.container.cont3 p {
        font-size: 16.6px;
    }
    .l-1, .l-2, .l-3, .l-4, .l-5, .l-6, .l-7, .l-8 {
        display: none!important;
    }
    div.sec7, div.sec11, div.sec15 {
        padding-top: 3rem;
        padding-left: 0px!important;
    }
    div.sec9 {
        margin-top: 15rem;
    }
    div.sec12, div.sec13, div.sec16 {
        margin-top: 11rem;
    }
    div.sec10, div.sec14 {
        padding-top: 3rem;
        padding-right: 0px!important;
    }
    .container.cont4 {
        margin-bottom: 2rem!important;
    }
    div.sec17 h2 {
        line-height: normal;
    }
    .container.cont5 {
        padding-top: 2.5rem!important;
        padding-bottom: 2.5rem!important;
    }
    .perfil-2 {
        border-right: none!important;
    }
    .perfil-3, .perfil-4 {
        margin-top: 2.5rem;
    }
    .perfil-1, .perfil-3 {
        padding-left: 0px;
    }
    .perfil-2, .perfil-4 {
        padding-right: 0px;
    }
    div.sec21, div.sec22, div.sec23 {
        margin-top: 0!important;
        margin-bottom: 0!important;
        text-align: center!important;
    }
    div.sec22 h3, div.sec23, div.sec24 {
        margin-top: 1.5rem!important;
    }
    .container.cont6 {
        margin-bottom: 16rem!important;
    }
    div.sec25 img {
        margin-top: -16rem!important;
    }
    .container.cont7 {
        padding-top: 2rem!important;
    }
    div.sec26 h2 {
        font-size: 1.7rem;
    }
    div.sec27,
    div.sec27 p {
        padding-right: 0!important;
        padding-left: 0!important;
        font-size: 13px;
        text-align: center!important;
    }
    div.sec27 p {
        padding-bottom: 0!important;
    }
}

/* Large devices (tablet screen, 550px and 729.98px) */
@media (min-width: 550px) and (max-width: 729.98px) {
    div.sec2 {
        max-width: 97%;
    }
    div.container.cont2 {
        margin-top: -10rem;
    }
    div.sec3 img {
        width: 380;
    }
    div.sec4 h2 {
        padding-top: 1rem;
        padding-bottom: 0rem;
    }
    div.sec4 ul {
        margin-top: 3rem;
        margin-left: 0;
        margin-bottom: 1rem;
    }
    div.sec5 {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .linehr {
        display: unset;
    }
    div.container.cont3 p {
        font-size: 16.6px;
    }
    .l-1, .l-2, .l-3, .l-4, .l-5, .l-6, .l-7, .l-8 {
        display: none!important;
    }
    div.sec8 .first {
        margin-top: 8rem;
    }
    div.sec8, div.sec9, div.sec12, div.sec13, div.sec16, .container.cont5 h2 {
        padding-right: 0;
        padding-left: 0;
    }
    div.sec9, div.sec12, div.sec13, div.sec16 {
        margin-top: 6rem;
    }
    div.sec9, div.sec10, div.sec11, div.sec12, div.sec13, div.sec14, div.sec15, div.sec16 {
        padding-top: 4rem;
    }
    .container.cont5 {
        padding-top: 2.5rem!important;
        padding-bottom: 2.5rem!important;
    }
    .perfil-2 {
        border-right: none!important;
    }
    .perfil-3, .perfil-4 {
        margin-top: 2.5rem;
    }
    div.sec22 {
        margin-top: 0!important;
        text-align: center;
    }
    div.sec23 {
        margin-top: 2rem;
        text-align: center;
    }
    div.sec27 p, div.sec28 {
        text-align: center!important;
    }
}

/* Large devices (tablet screen, 605px and 833.98px) */
@media (min-width: 730px) and (max-width: 769.98px) {
    div.container.cont2 {
        margin-top: -10rem;
    }
    div.sec3 img {
        width: 300px;
    }
    div.sec4 {
        padding-right: 0;
        padding-left: 50px;
    }
    div.sec4 h2 {
        padding-top: 2.5rem;
        padding-bottom: 1rem;
    }
    div.sec4 ul {
        margin-top: 2rem;
        margin-left: 2rem;
    }
    div.sec6 {
        margin-left: 20px;
    }
    div.sec6,
    div.sec7,
    div.sec10,
    div.sec11,
    div.sec14,
    div.sec15 {
        padding-right: 0;
        padding-left: 0;
    }
    div.sec7 {
        padding-top: 3rem;
    }
    div.sec9 {
        margin-top: -95px;
    }
    div.sec10 {
        margin-top: -140px;
    }
    div.sec11 {
        margin-top: -220px;
    }
    div.sec12 {
        margin-top: -173px;
    }
    div.sec13 {
        margin-top: -125px;
    }
    div.sec14 {
        margin-top: -145px;
    }
    div.sec15 {
        margin-top: -125px;
    }
    div.sec16 {
        margin-top: -110px;
    }
    div.sec26 h2 {
        font-size: 28px;
    }
    div.sec27,
    div.sec27 p {
        padding-right: 0!important;
        padding-left: 0!important;
        font-size: 14px;
        text-align: center!important;
    }
}

/* Large devices (tablet screen, 770px and 833.98px) */
@media (min-width: 770px) and (max-width: 833.98px) {
    div.sec4 {
        padding-right: 0px;
        padding-left: 95px;
    }
    div.sec4 h2 {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
    div.sec6 {
        padding-right: 0;
        padding-left: 0;
        margin-left: 20px;
    }
    div.sec7 {
        padding-top: 3rem;
        padding-right: 0;
        padding-left: 0;
    }
    div.sec9 {
        margin-top: -88px;
    }
    div.sec10 {
        margin-top: -170px;
        padding-right: 0;
        padding-left: 0;
    }
    div.sec11 {
        margin-top: -200px;
    }
    div.sec12 {
        margin-top: -125px;
    }
    div.sec12 .l-4 {
        display: none!important;
    }
    div.sec13 {
        margin-top: -190px;
    }
    div.sec14 {
        margin-top: -220px;
    }
    div.sec15,
    div.sec16 {
        margin-top: -127px;
    }
    div.sec27,
    div.sec27 p {
        padding-right: 0!important;
        padding-left: 0!important;
        font-size: 15px;
        text-align: center!important;
    }
}

/* Large devices (tablet screen, 834px and 991.98px) */
@media (min-width: 834px) and (max-width: 991.98px) {
    div.sec4 {
        padding-right: 0px;
        padding-left: 95px;
    }
    div.sec4 h2 {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
    div.sec9 {
        margin-top: -119px;
    }
    div.sec10 {
        margin-top: -170px;
    }
    div.sec11 {
        margin-top: -200px;
    }
    div.sec12 {
        margin-top: -159px;
    }
    div.sec13 {
        margin-top: -124px;
    }
    div.sec14 {
        margin-top: -170px;
    }
    div.sec15,
    div.sec16 {
        margin-top: -110px;
    }
    div.sec27,
    div.sec27 p {
        padding-right: 0!important;
        padding-left: 0!important;
        font-size: 15px;
        text-align: center!important;
    }
}

/* Large devices (desktops, 1024px and 1151.98px) */
@media (min-width: 992px) and (max-width: 1151.98px) {
    div.sec4 h2 {
        padding-top: 4rem;
        padding-bottom: 1rem;
    }
    div.sec8 {
        margin-top: -35px;
    }
    div.sec9,
    div.sec10 {
        margin-top: -72px;
    }
    div.sec11 {
        margin-top: -60px;
    }
    div.sec12 {
        margin-top: -80px;
    }
    div.sec13 {
        margin-top: -80px;
    }
    div.sec14 {
        margin-top: -60px;
    }
    div.sec15,
    div.sec16 {
        margin-top: -98px;
    }
}

/* Large devices (desktops, 1200px and 1279.98px) */
@media (min-width: 1152px) and (max-width: 1279.98px) {
    div.sec4 {
        padding-right: 70px;
    }
    div.sec4 h2 {
        padding-top: 4rem;
        padding-bottom: 1rem;
    }
    div.sec8 {
        margin-top: -35px;
    }
    div.sec9,
    div.sec10 {
        margin-top: -25px;
    }
    div.sec11,
    div.sec12 {
        margin-top: -57px;
    }
    div.sec13 {
        margin-top: -12px;
    }
    div.sec16 {
        margin-top: -6px;
    }

}

/* Large devices (desktops, 1280px and 1299.98px) */
@media (min-width: 1280px) and (max-width: 1299.98px) {
    div.sec3 img {
        margin-left: -50px;
    }
    div.sec4 {
        padding-left: 50px;
    }
    div.sec4 h2 {
        padding-top: 4rem;
        padding-bottom: 1rem;
    }
    div.sec5 {
        margin-bottom: 0.5rem;
    }
    div.sec9 {
        margin-top: -119px;
    }
    div.sec10 {
        margin-top: -140px;
    }
    div.sec11 {
        margin-top: -198px;
    }
    div.sec12 {
        margin-top: -189px;
    }
    div.sec13 {
        margin-top: -132px;
    }
    div.sec14 {
        margin-top: -145px;
    }
    div.sec15,
    div.sec16 {
        margin-top: -86px;
    }
}

/* Large devices (desktops, 1300px and 1365.98px) */
@media (min-width: 1300px) and (max-width: 1365.98px) {
    div.sec4 {
        padding-right: 50px;
        padding-left: 70px;
    }
    div.sec4 h2 {
        padding-top: 4rem;
        padding-bottom: 1rem;
    }
    div.sec5 {
        margin-bottom: 0.5rem;
    }
    div.sec9 {
        margin-top: -70px;
    }
    div.sec10 {
        margin-top: -95px;
    }
    div.sec11 {
        margin-top: -167px;
    }
    div.sec12 {
        margin-top: -160px;
    }
    div.sec13 {
        margin-top: -110px;
    }
    div.sec14 {
        margin-top: -125px;
    }
    div.sec15,
    div.sec16 {
        margin-top: -60px;
    }
}

/* Large devices (desktops, 1366px and 1399.98px) */
@media (min-width: 1366px) and (max-width: 1399.98px) {
    div.sec4 {
        padding-right: 50px;
        padding-left: 70px;
    }
    div.sec4 h2 {
        padding-top: 4rem;
        padding-bottom: 1rem;
    }
    div.sec5 {
        margin-bottom: 0.5rem;
    }
    div.sec9 {
        margin-top: -70px;
    }
    div.col-md-4.sec10 {
        margin-top: -85px;
    }
    div.sec11 {
        margin-top: -167px;
    }
    div.sec12 {
        margin-top: -170px;
    }
    div.sec13 {
        margin-top: -120px;
    }
    div.sec14 {
        margin-top: -125px;
    }
    div.sec15 {
        margin-top: -60px;
    }
    div.sec16 {
        margin-top: -70px;
    }
}

/* Large devices (desktops, 1400px and 1449.98px) */
@media (min-width: 1400px) and (max-width: 1449.98px) {
    div.sec8 {
        margin-top: -30px;
    }
    div.sec9 {
        margin-top: -68px;
        right: 1px;
    }
    div.sec10 {
        margin-top: -60px;
    }
    div.sec11,
    div.sec12 {
        margin-top: -113px;
    }
    div.sec13 {
        margin-top: -116px;
        right: 1px;
    }
    div.sec14 {
        margin-top: -127px;
    }
    div.sec15 {
        margin-top: -55px;
    }
    div.sec16 {
        margin-top: -65px;
    }
}

/* Large devices (desktops, 1500px and 1539.98px) */
@media (min-width: 1500px) and (max-width: 1539.98px) {
    div.sec8 {
        margin-top: -30px;
    }
    div.sec9 {
        margin-top: -68px;
    }
    div.sec10 {
        margin-top: -50px;
    }
    div.sec11 {
        margin-top: -70px;
    }
    div.sec12 {
        margin-top: -99px;
    }
    div.sec13 {
        margin-top: -88px;
    }
    div.sec14 {
        margin-top: -70px;
    }
    div.sec15 {
        margin-top: -55px;
    }
    div.sec16 {
        margin-top: -60px;
    }
}

/* Large devices (desktops, 1550px and 1609.98px) */
@media (min-width: 1550px) and (max-width: 1609.98px) {
    div.sec8 {
        margin-top: -30px;
    }
    div.sec9,
    div.sec10 {
        margin-top: -43px;
    }
    div.sec11 {
        margin-top: -65px;
    }
    div.sec12 {
        margin-top: -81px;
    }
    div.sec13 {
        margin-top: -52px;
    }
    div.sec14 {
        margin-top: -40px;
    }
    div.sec15,
    div.sec16 {
        margin-top: -54px;
    }
}

div.sec17 {
    margin-top: 4rem;
}

div.sec18 {
    margin-top: 3rem;
}

hr {
    border-top: 3px solid #FFF;
    width: 250px;
    margin-left: 0;
}

.container.cont4 p {
    font-size: 1.25rem;
}

.container.cont4 {
    margin-bottom: 5rem;
}

.container.cont5,
.container.cont7 {
    background: #FFF;
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.container.cont5 h2,
div.sec20 h4 {
    text-shadow: 3px 0px 6px rgba(0, 0, 0, 0.4);
}
.container.cont5 h3 {
    color: #FE4462;
    text-align: center;
    text-shadow: 3px 0px 6px rgba(254, 68, 98, 0.62);
    font-size: 1.5rem;
    font-weight: 400;
}

.container.cont5 p {
    color: #404040;
}

.container.cont5 .vertical {
    border-right: 3px solid #FE4561;
}

.container.cont6 {
    margin-bottom: 23rem;
}

div.sec19,
div.sec21 {
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

div.sec19 p {
    margin-bottom: 1.5rem;
}

div.sec19 h1 {
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    color: #F4425D;
}

div.sec19 h1.text-white,
div.sec22 h3.text-white {
    margin-top: 1.5rem;
}

div.sec19 del {
    text-decoration: none;
    position: relative;

}

div.sec19 del:before {
    content: " ";
    display: block;
    width: 100%;
    border-top: 4px solid #FFF;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(-11deg);
}

div.sec20 {
    position: relative;
    max-width: 700px;
    border-radius: 50px;
    text-align: center;
    padding: 22px;
    position: relative;
    background: #FFF;
    color: #000;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

div.sec20 h1,
div.sec20 h2,
div.sec20 h3 {
    display: unset;
    text-shadow: 3px 0px 6px rgba(0, 0, 0, 0.4);
}

div.sec20 h1 {
    font-size: 6rem;
    /* margin-top: 1rem;
    margin-right: 1rem; */
}

div.sec20 h2 {
    font-size: 4rem;
    color: #000!important;
}

div.sec20 h3 {
    font-family: 'Anton', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 50px;
}

div.sec20 h4 {
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    font-size: 1.563rem;
    font-weight: 500;
}

div.sec20 p {
    /* display: unset; */
    text-transform: uppercase;
}

.cro1 {
    margin-top: 35px;
}

.cro2 {
    margin-top: 60px;
    padding-left: 0;
}

div.sec22,
div.sec24 {
    margin-top: 3rem;
}

.container.cont7 {
    padding-bottom: 0;
}

div.sec25 img {
    margin-top: -24rem;
}

div.sec26 h2 {
    font-family: 'Federo', sans-serif;
    color: #F4425D;
}

div.sec27 p {
    color: #000;
    text-align: right;
    padding: 15px;
}

div.col-md-6.sec28 {
    max-width: 100%;
}

@media (min-width:1440px) {
    div.sec3 {
        width: 350px;
        margin-top: 60px;
        padding-left: 0;
    }
}